*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
   
}

body{
    background: url('3bac.webp');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    padding-top: 100px;
}

/****************************************************************/
@media (max-width:480px) {
    nav{
        justify-content: flex-start;
    }
    nav> ul{
display: none;
    }
   nav> .icons{

    } 
}

/*--------------------------------call---------------------------*/
.call-btn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: green;
    color: white;
    font-size: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    transition: 0.3s ease;
}

.call-btn:hover{
    background-color: darkgreen;
    transform: scale(1.1);
}
/*---------------------------------------------------------*/
nav{
    background-color: black;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 999;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 90px;
    width: 50px;
    object-fit: contain;
    
    
    /* background-color: green; */
    /* margin-left: 10px auto; */
}

nav ul{
    height: 100px;
    width: 70%;
    /* background-color: brown; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
nav ul a{
    text-decoration: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    
}
nav ul a li{
    
    font-size: 20px;
    color: white;
    padding: 20px;
    position: relative;
}
nav ul a li:hover{
    background-color: rgb(41, 80, 41);
    border-radius: 5px;
}
nav ul a li::after{
    
    position: absolute;
    content: "";
    background-color: crimson;
    height: 3px;
    width: 40%;
    bottom: 5px;
    left: 20px;
}
nav ul a li:hover::after{
    
    background-color: rgb(41, 80, 41);
    height: 3px;
    width: 80%;
    transition: 2s;
    
}
 .icons
{ 
    height: 100px;
    /* background-color: aqua; */
    width: 20%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.icons a{
    background-color: none;
}
.icons .icc
{
font-size: 40px;
    
}
.icc1{
    color: blue;
}
.icc2{
    color: purple;
}
.icc3{
    color: green;
}
.icc4{
    color: blue;
}
.icons i{
    background-color: white;
}

/* min----head-------------------------------------------------------------- */
.about{
    /* padding-top: 0px; */
    height: 500px;
    width: 95%;
    /* background-color:; */
    display: flex;
    border-top: 1px solid gray;
}
.about1{
    height: 500px;
    width: 50%;
    background-color:;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about1 h1{
    text-align: justify;
    margin: 0px auto;
    color: crimson;
}
.about1 h4{
    text-align: justify;
    margin-left: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.typing{
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.line{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.one{
    animation: typing 3s steps(25) forwards infinite;
    
}
.two{
    animation: typing 3s steps(25) forwards infinite;
    animation-delay: 2.5s;
    
}

@keyframes typing {
    to{
        width: 100%;
        transition: 3s;
        color: white;
    }
    
}
.about2{
    height: 500px;
    width: 50%;
    background-color:;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.uipic
{
    height : 300px;
    width : 250px; 
    border-radius: 50%;
    animation-name: picc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes picc {
    from{
        border: 20px palevioletred;
        transform: rotate(360deg);
    }
    to{
        border: 20px palevioletred;
        transform: rotate(360deg);

    }
}
.ui{
    height: 70px;
    width: 90px;
    border-radius: 50%;
    
}
.ui1{
    position: absolute;
    top: 20px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui2{
    position: absolute;
    left: 10px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui3{
    position: absolute;
    right: 10px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui4{
    position: absolute;
    bottom: 20px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui5{
    position: absolute;
    top: 70px;
    left: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui6{
    position: absolute;
    top: 70px;
    right: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui7{
    position: absolute;
    bottom: 70px;
    left: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui8{
    position: absolute;
    bottom: 70px;
    right: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}


@keyframes html {
    from{
        transform: translateY(10px);
        
    }
    to{
        transform: translateY(-10px);
    }
    
}
@keyframes css {
    from{
        transform: translateX(10px);
        
    }
    to{
        transform: translateX(-10px);
    }
    
}
/*----------------------about me--------------------------*/

.abt{
    color: white;
}
.abt h1{
    text-align: center;
    color: black;
    font-size: 2.5rem;
}
.abt hr{
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    height: 5px;
    background-color: black;
}
.abt p{
    margin: 0px auto;
    text-align: justify;
    color: white;
    width: 90%;
}
.point
{
    color: crimson;
    font-size: 15px;
    font-weight: bold;
}
b{
    font-size: 20px;
}
/*-------------------------skills----------------------*/
/**********************************/
#skills h1{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 2.5rem;
}
#skills hr{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
    /* border: none; */
}

.skill-outer
{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(7, 23, 26);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;

}

.skill-box{
    height: 200px;
    /* width: 25%; */
    /* background: ; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    transition: .3s ease-in-out;
    animation-name: skil;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.skill-box img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}

@keyframes skil {
    to{
transform: translateY(-10px);
    box-shadow: 5px 5px 5px 5px rgb(0, 122, 122);
    /* background-color: crimson; */
    /* transform: scale(1.1); */

    }
    
}
/*-------------------------services----------------------*/

#services h1{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 3rem;
}
#services hr{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
   
}

.service-outer
{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(1, 15, 15);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;
    border-radius: 30px;

}

.service-box{
    height: 180px;
    width: 90%;
    margin: 0px auto;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
  
    transition: .3s ease-in-out;
    animation-name: serv;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.service-box h1{
 text-align: center;
 color: white;
}
.service-box h2{
text-align: center;
color: white;
}
.service-box p{
text-align: center;
color: white;
}


@keyframes serv {
    to{
  background-color: rgb(3, 19, 22);
    transform: scale(1.1);
    /* transform: translateY(-10px); */

    }
    
}
.servimg{
    height: 150px;
    width: 300px;
}

/*-------------------------latest project----------------------*/
#projects h1{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 3rem;
}
#projects hr{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
   
}

.projects-outer
{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(1, 109, 109);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;

}

.project-box{
    height: 200px;
   
    background-color: rgb(1, 15, 15);
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;display: flex;
    align-items: center;
    
    
}
.project-box:hover{
    background-color: rgb(15, 34, 34);
}


/*-------------------------latest project----------------------*/
/* #contacts{
    height: 500px;
    width: 80%;
    margin: 0px auto;
    background-color: brown;
} */
#contacts h1{
    margin-top: 20px;
    color: black;
    text-align: center;
    font-size: 3rem;
}
#contacts hr{
    height: 5px;
    width: 80%;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
   
}
.contact-outer
{

height: 500px;
    width: 80%;
    margin: 10px auto;
    /* background-color: blueviolet; */
    display: flex;

}
.contacts1{
height: 480px;
    width: 45%;
    margin: 10px auto;
    /* background-color: red; */
    border: 4px solid rgb(3, 13, 17);

}
.contacts2{
    height: 480px;
    width: 45%;
    margin: 10px auto;
    /* background-color: orange; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
}
.form1{
    margin: 0px auto;
    height: 480px;
    width: 90%;
    background-color: rgb(33, 90, 82); 
    border: 2px pink;
    /* box-shadow: 10px 10px black; */

    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding-left: 20px;

}
.frm{
 background-color: white;
 border: none;
}


input{
    display: flex;
    justify-content: center;
    align-items: center;
  height: 30px;
  width: 80%;
}
textarea{
    height: 100px;
  width: 80%;
}
button{
    height: 50px;
    width: 150px;
    background-color: blue;
    color: white;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer p{
color: white;
}
.footer p p{
color: white;
}