*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: black;
}
nav{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    height: 100px;
    width: 10%;
    /* background-color: green; */
    /* margin-left: 10px auto; */
}
nav ul{
    height: 100px;
    width: 70%;
    /* background-color: brown; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
nav ul a{
    text-decoration: none;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    
}
nav ul a li{
    
    font-size: 20px;
    color: white;
    padding: 20px;
    position: relative;
}
nav ul a li:hover{
    background-color: gray;
    border-radius: 5px;
}
nav ul a li::after{
    
    position: absolute;
    content: "";
    background-color: crimson;
    height: 3px;
    width: 40%;
    bottom: 5px;
    left: 20px;
}
nav ul a li:hover::after{
    
    background-color: crimson;
    height: 3px;
    width: 80%;
    transition: 2s;
    
}
 .icons
{ 
    height: 100px;
    /* background-color: aqua; */
    width: 20%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.icons a{
    background-color: none;
}
.icons .icc
{
font-size: 40px;
    
}
.icons i{
    background-color: white;
}
/* min----head-------------------------------------------------------------- */
.about{
    height: 500px;
    width: 100%;
    background-color:;
    display: flex;
    border-top: 1px solid gray;
}
.about1{
    height: 500px;
    width: 50%;
    background-color:;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about1 h1{
    text-align: justify;
    margin: 0px auto;
    color: crimson;
}
.about1 p{
    text-align: justify;
    
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.typing{
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.line{
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

.one{
    animation: typing 2s steps(25) forwards infinite;
    
}
.two{
    animation: typing 2s steps(25) forwards infinite;
    animation-delay: 2.5s;
    
}

@keyframes typing {
    to{
        width: 100%;
        transition: 3s;
        color: green;
    }
    
}
.about2{
    height: 500px;
    width: 50%;
    background-color:;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.uipic
{
    height : 300px;
    width : 250px; 
    border-radius: 50%;
    animation-name: picc;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes picc {
    from{
        border: 20px palevioletred;
        transform: rotate(360deg);
    }
    to{
        border: 20px palevioletred;
        transform: rotate(360deg);

    }
}
.ui{
    height: 70px;
    width: 90px;
    border-radius: 50%;
    
}
.ui1{
    position: absolute;
    top: 20px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui2{
    position: absolute;
    left: 10px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui3{
    position: absolute;
    right: 10px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui4{
    position: absolute;
    bottom: 20px;
    animation-name: html;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui5{
    position: absolute;
    top: 70px;
    left: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui6{
    position: absolute;
    top: 70px;
    right: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui7{
    position: absolute;
    bottom: 70px;
    left: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}
.ui8{
    position: absolute;
    bottom: 70px;
    right: 70px;
    animation-name: css;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition: 2s;
}


@keyframes html {
    from{
        transform: translateY(10px);
        
    }
    to{
        transform: translateY(-10px);
    }
    
}
@keyframes css {
    from{
        transform: translateX(10px);
        
    }
    to{
        transform: translateX(-10px);
    }
    
}
/*----------------------about me--------------------------*/

.abt{
    color: white;
}
.abt h1{
    text-align: center;
    color: crimson;
}
.abt hr{
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    height: 5px;
    background-color: crimson;
}
.abt p{
    margin: 0px auto;
    text-align: justify;
    color: white;
    width: 90%;
}
/*-------------------------skills----------------------*/
/**********************************/
#skills h1{
    margin-top: 20px;
    color: crimson;
    text-align: center;
    font-size: 3rem;
}
#skills hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.skill-outer
{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(173, 236, 255);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;

}

.skill-box{
    height: 200px;
    /* width: 25%; */
    /* background: ; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    transition: .3s ease-in-out;
}
.skill-box img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.skill-box:hover{

    transform: translateY(-10px);
    box-shadow: 5px 5px 5px 5px rgb(0, 122, 122);
}
/*-------------------------services----------------------*/

#services h1{
    margin-top: 20px;
    color: crimson;
    text-align: center;
    font-size: 3rem;
}
#services hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.service-outer
{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;

}

.service-box{
    height: 200px;
    /* width: 25%; */
    background: linear-gradient(rgb(0, 141, 134),rgba(122, 0, 122, 0.85));
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    transition: .3s ease-in-out;
}
.service-box h1{
 text-align: center;
 color: white;
}
.service-box h2{
text-align: center;
color: white;
}
.service-box p{
text-align: center;
color: white;
}

.service-box:hover{

opacity: .6;
}

/*-------------------------latest project----------------------*/
#projects h1{
    margin-top: 20px;
    color: crimson;
    text-align: center;
    font-size: 3rem;
}
#projects hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}

.projects-outer
{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 20px;

}

.project-box{
    height: 200px;
   
    background-color: aqua;
    border-radius: 10px;
    display: grid;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    transition: .3s ease-in-out;
}
.project-box h1{
 text-align: center;
 color: white;
}
.project-box h2{
text-align: center;
color: white;
}
.project-box p{
text-align: center;
color: white;
}

.project-box:hover{

opacity: .6;
}

/*-------------------------latest project----------------------*/
/* #contacts{
    height: 500px;
    width: 80%;
    margin: 0px auto;
    background-color: brown;
} */
#contacts h1{
    margin-top: 20px;
    color: crimson;
    text-align: center;
    font-size: 3rem;
}
#contacts hr{
    height: 5px;
    width: 80%;
    background-color: crimson;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
}
.contact-outer
{

height: 500px;
    width: 80%;
    margin: 10px auto;
    background-color: blueviolet;
    display: flex;

}
.contacts1{
height: 480px;
    width: 45%;
    margin: 10px auto;
    background-color: red;

}
.contacts2{
    height: 480px;
    width: 45%;
    margin: 10px auto;
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    justify-content: center;
}
form{
    margin: 0px auto;
}
.footer{
    height: ;
}
